/* 
    Created on : 2014-7-18, 22:40:59
    Author     : Zhu Hanfeng <me@mlnotes.com>
*/

*{
    margin:0;
    padding: 0;
}

body{
    background: url(../img/bg.png);
    min-width: 600px;
}

.clear{
    clear: both;
}

.header{
    background: #777;
    height: 60px;
}

.footer{
    background: #ABABAB;
    height: 30px;
}

.content{
    
}

.main{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.main-left{
    width: 800px;
    height: 500px;
    float: left;
    background: url(../img/noise.png);
}

.menu{
    width: 200px;   
    float: left;
    position:relative;
    top: -30px;
}

.menu>ul{
    list-style-type: none;
    padding-left: 25px;
}

.menu>ul>li{
    margin-bottom: 10px;
}

.menu>ul>li>a{
    text-decoration: none;
    color: #D9D9D9;
    font-size: 24px;
}

.menu>ul>li>a:hover{
    color: #F7F7F7;
}

.menu>ul>li.active>a{
    color: #E45858;
    font-weight: bold;
}